body {
    background-color: darkred;
}

ul {
    list-style-type:none;
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 1%;
}

ul li {
    border: 1px solid gainsboro;
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    background-color: navajowhite;
}

ul li ul {
    margin-top: 10px;
    margin-bottom: 10px;
}