.profile_image_center {
	text-align: center;
}

.text_align_center {
	text-align: center;
}

.text_background_dark_gray {
	background-color: darkgray;
}

.text_background_white {
	background-color: #FFFFFF;
	padding: 15px;
	font-size: 1rem;
}

html {
	padding-top: 50px;
	padding-right: 100px;
	padding-bottom: 50px;
	padding-left: 100px;
	background-color: white;
}

.div1 {
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 8px;
	padding-bottom: 8px;
}

body {
	background-color: #E7E9EB;
	font-family: 'Roboto Condensed', sans-serif;
}

.social_font {
	font-size: 20px;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: pink;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}

.right {
	float: right;
}

.left {
	float: left;
}

.footer {
	color: black;
	text-align: center;
	padding-bottom: 8px;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.lang {
	font-family: 'Roboto Condensed', sans-serif;
}